@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.RichTextEditor
@page "/rte11"
@rendermode RenderMode.InteractiveServer
<h3>RichTextEditorComponent</h3>

 <SfRichTextEditor>
    <RichTextEditorImageSettings SaveUrl="api/Image/Save" Path="https://sitodev.blob.core.windows.net/fileupload/" />
</SfRichTextEditor>
@code { 
   
} 